body{
	margin: 0;
	background-image: url("../assets/web/brick.png");
	background-repeat: repeat;
}

canvas{
	padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: -5%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* MAIN WINDOW START */
.mainWindow{
    position: fixed;
    top: 50%;
    left: 50%;
    height:660px;
    width:890px;
    margin-top: -350px;      /* height/2 */
    margin-left: -450px;     /* width/2 */
   
    border: 10px solid black;
    background-color: white;
    z-index: 2;
}

.mainWindow h1{
    margin:0;
    padding-bottom:10px;
}

.mainWindow .content{
    margin: 15px;
}

.mainWindow .subheading{
    font-size: 1.3em;
    margin:0 0 10px 0;
    display: inline;
}

.mainWindow button{
    font-size: 1.2em;   
}
/* MAIN WINDOW END */





/*SIMPLE TEXT START*/
#simpleTextStart{
    visibility: hidden;
}


#simpleTextStart .content textarea{
    resize: none;
    width:860px;
    height:250px;
    font-size: 1.5em;
}

#simpleTextStart .content #flagButton{
    margin: 30px 10px 10px 0px;

}

#simpleTextStart .content #simpleTextButton{
    margin: 10px;
}

#simpleTextStart .content #okButton{
    margin: 30px 10px 10px 0px;
    float: right;
}
/*SIMPLE TEXT END*/





/*CONTRIBUTIONS START*/
#contributions{
    visibility: hidden;
}

#contributions #sortContributions{
    float:right;
}

#contributions #contributionsList{
    width: 865px;
    height: 250px;
    border: 2px solid black;
    overflow-y: scroll;
}

#contributions #contributionsBtnsWrapper{
    float: right;
}

#contributions #contributeBack{
    margin: 15px 10px 0px 0px;
}

#contributions #contributionsList .itemWrapper{
    height: 84px;
    width: 100%;
    background-color: grey;
    margin: 0;
    overflow-y: hidden;
    border-bottom: 1px solid black;
}

#contributions #contributionsList .itemWrapper .textExcerpt{
    margin:0;
    width: 700px; 
    float: left;
    font-size: 1.1em;
    padding: 5px;
    line-height: 140%;
}

#contributions #contributionsList .itemWrapper .textExcerpt p{
    padding:0;
    margin: 0;

}


#contributions #contributionsList .itemWrapper .likesAndAuthorWrapper{
    float:right;
    padding: 10px;
}

#contributions #contributionsList .itemWrapper .likesAndAuthorWrapper p{
    padding: 0;
    margin:0;
    display:inline;
}

#contributions #contributionsList .itemWrapper .likesAndAuthorWrapper .numberLikes{
    font-size: 1.4em;
}

#contributions #contributionsList .itemWrapper .likesAndAuthorWrapper .authorWrapper{
    font-size: 1.2em;
}



/*CONTRIBUTIONS END*/




/*VIEW SINGLE CONTRIBUTION START*/
#viewSingleContribution{
    visibility: hidden;
}



#viewSingleContribution .content textarea{
    resize: none;
    width:650px;
    height:250px;
    font-size: 1.5em;
    float: left;
}

#viewSingleContribution .content .imagesWrapper{
    float: right;
    width:200px;
    height:250px;
    text-align: center;
}


#viewSingleContribution .content .bottomAreaWrapper{
    width:655px;
}

#viewSingleContribution .content .imagesWrapper img{
    width:180px;
    height: auto;
    margin-bottom: 10px;

}

#viewSingleContribution .content .bottomAreaWrapper  audio{
    width: 656px;
    display: block;
}



#viewSingleContribution .content #authorNameAndAddAuthorBtn{
    padding-top: 5px;
    width: 550px;
    float:left;
}

#viewSingleContribution .content #authorNameAndAddAuthorBtn img{
    width:25px;
    height: auto;
    padding-left:5px;
}

#viewSingleContribution .content #authorNameAndAddAuthorBtn p{
    font-size: 1.2em;
    display:inline;
    float:left;
    padding:0;
    margin:0;
}

#viewSingleContribution .content #contributionBtnGroup{
    padding-top: 5px;
    float: right;
}

#viewSingleContribution .content #contributionBtnGroup img{
    width:25px;
    height: auto;
    padding-left:5px;
}

#viewSingleContribution .content #viewContributionBack{
    margin-top: 5px;
}
/*VIEW SINGLE CONTRIBUTION END*/




/*INFO BOX START*/
#infoBox{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 55px;
    width: 250px;
    margin-top: -50px;
    margin-left: -125px;

    text-align: center;
    border: 2px solid black;
    background-color: white;
    z-index: 3;
}


#infoBox #infoMessage{
    padding: 0px 5px 0px 5px;
}
/*INFO BOX END*/


/*CREATE SIMPLE TEXT START*/
#createContribution{
    visibility: hidden;
}

#createContribution .content .textAreaHeading{
    font-size: 1.2em;
    margin-bottom: 0;
}

#createContribution .content textarea{
    resize: none;
    width:635px;
    height:210px;
    font-size: 1.2em;
}

#createContribution .content .uploadArea{
    float:right;
    width: 210px;
    height:210px;
}

#createContribution .content .uploadArea p{
    margin-top: 0;
    margin-bottom: 10px;
}

#createContribution .content .uploadArea .uploadAudioHeading{
    margin-top: 28px;
}

#createContribution .content .uploadArea input{
    margin-bottom: 10px;
}

#createContribution .content .fill{
    float:right;
    width:210px;
    height:210px;
}

#createContribution .content #guidelines{
    margin-top: 8px;
    float:left;
}


#createContribution .content .navigationButtonsWrapper{
    padding-top: 8px;
    float:right;
}
/*CREATE SIMPLE TEXT END*/