@font-face {
    font-family: VCR;
    src: url(../assets/font/VCR-OSD-Mono.ttf);
}

@font-face {
    font-family: bit8;
    src: url(../assets/font/8-bit-pusab.ttf);
}


body{
	margin: 0;
	background-image: url("../assets/web/brick.png");
	background-repeat: repeat;
}

canvas{
	padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: -5%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

h1{
	font-family: VCR;
}

h2, h3{
    margin-bottom: -15px;
    margin-left: 10px;
}

p{
	font-family: courier;
}


/* MAIN WINDOW START */
.mainWindow{
    position: fixed;
    top: 50%;
    left: 50%;
    height:660px;
    width:890px;
    margin-top: -350px;      /* height/2 */
    margin-left: -450px;     /* width/2 */

	border: 10px double #73793C;
	border-radius: 5px;
    background-color: #D9DEA2;
    z-index: 2;
}

.mainWindow h1{
    margin:0;
    padding-bottom:10px;
}

.mainWindow .content{
    margin: 15px;
}

.mainWindow .subheading{
    font-size: 1.3em;
    margin:0 0 10px 0;
    display: inline;
}



.mainWindow button {
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    font-family: bit8;
    color: #ffffff;
    font-size: 15px;
    background: #465e1e;
    padding: 2px 7px 2px 7px;
    text-decoration: none;
}

.mainWindow button:hover {
	background: #638238;

  text-decoration: none;

}

/* MAIN WINDOW END */



/*SIMPLE TEXT START*/
#simpleTextStart{
    visibility: hidden;
}

#simpleTextStart .content textarea{
    resize: none;
    width:853px;
    height:540px;
    font-size: 1.5em;
}

#simpleTextStart .content #flagButton{
    margin-top: 12px;
    width: auto;
    height: 30px;
    opacity: 0.45;
}

#simpleTextStart .content #flagButton:hover{
    opacity: 0.7;
}

#simpleTextStart .content #simpleTextButton{
	position:relative;
	bottom: 4px;
	left: 10px;
}

#simpleTextStart .content #okButton{
	position: relative;
	bottom: 4px;
	left: 557px;
}
/*SIMPLE TEXT END*/



/*CONTRIBUTIONS START*/
#contributions{
    visibility: hidden;
}

#contributions #sortContributions{
	float: right;
	height: 30px;
	font-family: courier;
	font-size: 1.1em;
	margin-bottom: 5px;
}

#contributions #contributionsList{
    width: 857px;
    height: 510px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
	background-color: white;
}

#contributions #contributionsBtnsWrapper{
    float: right;
		margin-top: -5px;
}

#contributions #contributeBack{
    margin: 15px 10px 0px 0px;
}

#contributions #contributionsList .itemWrapper{
    height: 84px;
    width: 100%;
    background-color: grey;
    margin: 0;
    overflow-y: hidden;
    border-bottom: 1px solid black;
}

#contributions #contributionsList .itemWrapper:hover{
    cursor: pointer;
}

#contributions #contributionsList .itemWrapper .textExcerpt{
    margin:0;
    width: 700px;
    float: left;
    font-size: 1.1em;
    padding: 5px;
    line-height: 140%;
}

#contributions #contributionsList .itemWrapper .textExcerpt p{
    padding:0;
    margin: 0;

}

#contributions #contributionsList .itemWrapper .likesAndAuthorWrapper{
    float:right;
    padding: 10px;
}

#contributions #contributionsList .itemWrapper .likesAndAuthorWrapper img{
    width: 30px;
    height:auto;
    opacity: 0.45;
    position: relative;
    top: 3px;
    left: 5px;
}

#contributions #contributionsList .itemWrapper .likesAndAuthorWrapper p{
    padding: 0;
    margin:0;
    display:inline;
}

#contributions #contributionsList .itemWrapper .likesAndAuthorWrapper .numberLikes{
    font-size: 1.4em;
}

#contributions #contributionsList .itemWrapper .likesAndAuthorWrapper .authorWrapper{
    font-size: 1.2em;
}
/*CONTRIBUTIONS END*/


/*VIEW SINGLE CONTRIBUTION START*/
#viewSingleContribution{
    visibility: hidden;
}

#viewSingleContribution .content textarea{
    resize: none;
	width: 570px;
	height: 480px;
    font-size: 1.5em;
    float: left;
}

#viewSingleContribution .content .imagesWrapper{
	position: absolute;
	width: 270px;
	height: 517px;
	text-align: center;
	right: 16px;
	top: 60px;
}

#viewSingleContribution .content .bottomAreaWrapper{
    width:605px;
}

#viewSingleContribution .content .imagesWrapper img{
    width:275px;
    height: auto;
    margin-bottom: 11px;

}

#viewSingleContribution .content .bottomAreaWrapper  audio{
	width: 576px;
	display: block;
	background-color: black;
}

#viewSingleContribution .content #authorNameAndAddAuthorBtn{
    padding-top: 5px;
    width: 467px;
    float:left;
}

#viewSingleContribution .content #authorNameAndAddAuthorBtn img{
    width:25px;
    height: auto;
    padding-left:5px;
    margin-top: -1px;
    opacity: 0.45;
}

#viewSingleContribution .content #authorNameAndAddAuthorBtn img:hover{
    opacity: 0.7;
}


#viewSingleContribution .content #authorNameAndAddAuthorBtn p{
    font-size: 1.2em;
    display:inline;
    float:left;
    padding:0;
    margin:0;
}

#viewSingleContribution .content #contributionBtnGroup{
    padding-top: 5px;
    float: left;
}



#viewSingleContribution .content #contributionBtnGroup img{
    width:23px;
    height: auto;
    padding-left:10px;
    opacity: 0.45;
}

#viewSingleContribution .content #contributionBtnGroup img:hover{
    opacity: 0.7;
}

/*Like button*/
#viewSingleContribution .content #contributionBtnGroup img:nth-child(3){
    position: relative;
    bottom: 1px;
}

#viewSingleContribution .content #viewContributionBack{
    margin-top: 5px;
    position: relative;
    right: 469px;
}
/*VIEW SINGLE CONTRIBUTION END*/


/*INFO BOX START*/
#infoBox{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 80px;
    width: 350px;
    margin-top: -50px;
    margin-left: -125px;

    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    background-color: white;
    z-index: 3;
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;       /* the same as div height */
}

#infoBox #infoMessage{
    margin:0;
	padding:0;
}
/*INFO BOX END*/


/*CREATE SIMPLE TEXT START*/
#createContribution{
    visibility: hidden;
}

#createContribution .content .textAreaHeading{
    font-size: 1.2em;
    margin-bottom: 0;
}

#createContribution .content textarea{
    resize: none;
    width:635px;
    height:210px;
    font-size: 1.2em;
}

#createContribution .content .uploadArea{
    float:right;
    width: 210px;
    height: 230px;
}

#createContribution .content .uploadArea p{
    margin-top: 0;
    margin-bottom: 10px;
}

#createContribution .content .uploadArea .uploadAudioHeading{
    margin-top: 28px;
}

#createContribution .content .uploadArea input{
    margin-bottom: 10px;
}

#createContribution .content .fill{
    float:right;
    width:210px;
    height:220px;
}

#createContribution .content #guidelines{
    position:relative;
    top: 35px;
}


#createContribution .content .navigationButtonsWrapper{
	position: relative;
	left: 610px;
	top: -5px;
}
/*CREATE SIMPLE TEXT END*/



/*GUIDELINES START*/
#guidelinesWrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 550px;
    height:720px;
    margin-top: -360px;
    margin-left: -250px;
	padding:15px;

	font-size: 1.2em;
	
    border: 10px double rgb(0,0,0);
    border-radius: 5px;

	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    background-color: white;
    z-index: 3;
}

#guidelinesWrapper p{
    margin-left: 10px;
    margin-right: 10px;
}

#guidelinesWrapper ul{
	font-family: courier;
}

#guidelinesWrapper h1{
	font-size:30px;
	text-align: center;
    margin: -50px 0px 5px 5px;
    padding: 0px;
	font-family: bit8;
}

#guidelinesWrapper h2{
    text-align: center;
    margin: 0px 0px -10px 0px;
    padding: 0px;
    font-style: italic;
    font-size:20px;
}

#guidelinesWrapper #closeGuidelines{
	width: 45px;
	height: auto;
	position: relative;
	left: 530px;
	bottom: 25px;
}
/*GUIDELINES END*/


/*COMMENT START*/
#createComment{
	visibility: hidden;
	z-index: 3;
}

#createComment .content #commentsWrapper{
	width: 855px;
	height: 420px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 10px 0 10px 0;
	background-color: white;
	overflow-y: scroll;
}

#createComment .content #commentsWrapper .singleCommentWrapper{
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding: 10px;
}

#createComment .content #commentsWrapper .singleCommentWrapper .commenter{
	font-weight: bold;
}

#createComment .content #commentsWrapper .singleCommentWrapper p{
	font-size: 1.1em;
	margin:0;
	padding: 0;
}

#createComment .content #commentsWrapper .singleCommentWrapper .comment{
	padding-top: 3px;
}

#createComment .content textarea{
	width: 853px;
	height: 70px;
	font-size: 1.3em;
}

#createComment .content #commentButtonsWrapper{
	margin-top: 10px;
	float:right;
}

#createComment .content #commentButtonsWrapper #cancelComment{
	margin-right: 10px;
}
/*COMMENT END*/



/*UPLOAD BTN START*/

/*UPLOAD BTN END*/